@inherits LayoutComponentBase

<PageTitle>FrontEnd</PageTitle>

<div class="page">
    <div>
        <TopNavbar />
    </div>


    <main class="main-content">

        <article class="content">
            @Body
        </article>
    </main>


</div>